API_ID= 26774550
API_HASH= b54efe2c3126e1006c5c8f6a3c26be91
BOT_TOKEN= 6457930326:AAGslZLbunT_MwMCJt1D88Z-vVVS0iWVUlk
LOGGER_ID= -1001853824665
MONGO_DB_URI= mongodb+srv://Massom:dadpapa@cluster0.72un0l8.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6507819384
STRING_SESSION= BQGYjBYAgsfh3fOJqkmFlBHAfQiRqeijCKbyfJkdbBW5skg9tHiUpZ4ioTE1Q6lk2Z460NkSDBFebGAl48roCWHR2mWIp9hEChbtckJ1lacTybXnnab0gaBKd3dMqU-HXbrnUKUVOi1rSqc6OHLzJQh856jvV_k44QnHIMK5IypQnYX_HTmPLFZ42KhJRuwGRWHejh7KZddjRatXQ17Yy_I8YJrpH5TmaenMxRVBATlGbxmBcnRo1v9b-FYxkeGRoSCaUK-FHlHkuDqs0ibL5eWB630Wg_ekaA44g4mv2IlGgFohTMf1L3V2SURYnQ2XcwT1rJJkP-XvViWJZw0nLPWyodWRbAAAAAGgNr51AA
